# ===============================
# SERVER CONFIG
# ===============================
PORT=8000
NODE_ENV=development

# ===============================
# DATABASE CONFIG (PostgreSQL)
# ===============================
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=my_node_app

# ===============================
# JWT CONFIG
# ===============================
JWT_SECRET=super_secret_key
JWT_EXPIRES_IN=1d

# ===============================
# CORS
# ===============================
CLIENT_URL=http://localhost:5173